<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>creat</title>
  </head>
  <body style="padding: 3%; margin-left: 30%">
    <h1><a href="/" style="margin: -200px">home</a></h1>
    <form action="/creatbooks" method="post">
      <input type="text" name="name" placeholder="name" required /><br /><br />
      <input
        type="text"
        name="author"
        placeholder=" author"
        required
      /><br /><br />
      <textarea
        name="caption"
        cols="30"
        rows="10"
        placeholder="caption"
        required
      ></textarea
      ><br />
      <input type="submit" />
    </form>
  </body>
</html>
